body {
  background-color: #111111;
}
h1 {
  font-family: "Russo One", sans-serif;
  margin: 1cm;
}
h2 {
  margin: 20px;
}
h3 {
  margin-top: 15px;
}
h1,
h2,
h3,
h4,
h6,
p,
label,
output {
  color: #f4f4f4;
}
form {
  background-color: #ffffff;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
}
#row1 {
  margin-top: 10px;
  width: 1800px;
  height: 700px;
}
.pack {
  background-color: rgb(200, 200, 250);
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 700px;
  min-height: 120px;
}
.description,
.feedback,
.keyWords {
  width: 480px;
  max-height: 80px;
  min-height: 53px;
}
.description-block {
  margin-top: 10px;
}
p {
  margin: 0;
  margin-bottom: 10px;
}
.container {
  padding-right: 300;
}
.generation-button-img {
  width: 30px;
  text-align: center;
  margin-bottom: 2px;
}
.generation-button {
  width: 40px;
  height: 40px;
  padding: 0;
  position: relative;
  bottom: 30px;
}
.wastebasket-img {
  width: 30px;
}
.wastebasket-button {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 30px;
  padding: 0;
}
.calc {
  width: 500px;
  height: 700px;
  margin: 50px;
  margin-right: 0px;
  border-radius: 30px;
  background-color: #373737;
}
.container1 {
  width: 600px;
  background-color: #373737;
  margin-left: 10px;
  border-radius: 30px;
  max-height: 710px;
}
.calc2 {
  width: 300px;
  height: 500px;
  margin: 50px;
  border-radius: 30px;
  background-color: #373737;
}
input,
.description,
.feedback,
.keyWords {
  color: #ffffff;
  background-color: #6f6f6f;
}
.categoryPosition::placeholder,
.inStock::placeholder,
.Feedback::placeholder,
.rating::placeholder,
.cost::placeholder,
.requestCount::placeholder,
.discount::placeholder,
.prediction::placeholder,
.brand::placeholder,
.product::placeholder,
.category::placeholder,
.sostav::placeholder,
.keyWords::placeholder,
.description::placeholder,
.feedback::placeholder,
.analitic::placeholder {
  color: #ffffff;
  opacity: 0.5;
}
.predictionGET {
  background-color: #4d6444;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 5px 0 #232c1f;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.predictionGET:hover {
  background-color: #4d6444;
}
#image-container {
  background-color: #373737;
  border-radius: 30px;
  margin: 50px;
  width: 2400px;
  min-height: 300px;
}
.nomberimg {
  width: 1150px;
  height: 700px;
  margin: 25px;
  border-radius: 30px;
}
.analiticButton {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  background-color: #4d6444;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 5px 0 #232c1f;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 65px;
  font-size: 30px;
}
.analiticButton:hover {
  background-color: #4d6444;
}
.analiticButton:active {
  top: 3px;
  box-shadow: 0 2px 0 #161b13;
}
.analiticBlock {
  border-radius: 30px;
  background-color: #373737;
  width: 500px;
  height: 700px;
  margin: 50px;
  margin-right: 0px;
}
.analiticLabel {
  margin: 20px;
  margin-right: 20px;
}
.analiticBlockButton {
  display: flex;
  align-items: center;
  min-height: 40px;
  background-color: #4d6444;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 3px 0 #232c1f;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  border-color: #232c1f;
  margin-top: 7px;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #6f6f6f;
}
#carouselExample {
  height: 665px;
}
.reGenerateButton,
.prompt {
  display: block;
  width: 100%;
}
.reGenerateButton {
  margin-top: 10px;
}
#carouselImg0,
#carouselImg1,
#carouselImg2,
#carouselImg3 {
  height: 665px;
}
.analiticName,
.analiticCount {
  height: auto;
}
.textGraphs {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
#blocks3 {
  margin-left: 400px;
  margin-right: 400px;
}
#carouselExample {
  height: 655px;
  width: 500px;
}
.col-6 {
  max-width: 510px;
  padding-right: 0px;
}
